.help_img_css
{
	border: none;
	width: 15px;
}
.help_img_style
{

	border: 1px solid blue;
	//width: 15px;
}
div.help_note
{ 
	  size:11pt;
	  font-weight:bold;
	  background-color:yellow;
	  margin-top:0;
	  color:green
	  //width: 15px;
}
tr.help_left_tr1
{
  height:7%;  
}  
tr.help_left_tr2
{
  height:90%;  
}
tr.help_left_tr3
{
  height:3%;  
}
table.help_right_table1
{
  width: 70%; 
  border:1px solid;
  text-align:center;
  color:#000000;
  size:11pt;
 // font-weight:bold;
   
}
div.help_height1
{
  height:5px;  
}
td.help_help_td1
{
  width:5%; 
  text-align:left;  
  size:11pt;
  font-weight:bold;
}  
td.help_td2
{
  width:2%;
  text-align:left;  
}
td.help_td3
{
  width:93%;
  text-align:left;  
}
td.help_bottom_td1
{
  color:#FF590C;
  size:11pt;
  font-weight:bold;
  text-align:center;
}
td.help_bottom_td2
{
  color:#007F0E;
  size:11pt;
  font-weight:bold;
  text-align:center;
}
p.note
{
  color:3A563F;
  size:11pt;
  font-weight:bold;
}


