/* http://www.menucool.com */

#mcis {display:none;}

/*slider frame*/
#sliderFrame 
{
    width:950px;margin:0 auto;padding:2px;
    /*box-shadow: 0 0 5px #BBB;border:1px solid #CCC; background-color:#FFF;*/
    box-shadow: 0 0 9px #FFB43D;
	border:1px solid #ffcb65; 
	background-color:white;
	margin-bottom:0px;
}
     
        

#slider {
    float:left;
    width:680px;height:306px;/* Make it the same size as your images. */
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto;/*make the image slider center-aligned */
}
#slider img {
	position:absolute;
	border:none;
	visibility:hidden;
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:400px;
	height:auto;
	padding:10px;
	left:120px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	bottom:10px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size:0;
}
div.mc-caption-bg {
	background:#DDD; /*Caption background color. Can be set to "background:transparent;", or set to semi-transparent through the sliderOptions.captionOpacity setting in the javascript.*/
	border:1px solid white;
	border-radius: 5px;
}
div.mc-caption {
	font:bold 13px/16px Arial;
	color:#069;
	z-index:4;
	text-align:center;
}
div.mc-caption a { 
	color:#060;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
div.navBulletsWrapper  {
	display:none;
}


/*thumbnails*/
#thumbs 
{
    float:left;
    margin-top:7px;
    margin-left:7px;
    width:233px;
    font:normal 11px/13px Arial;
    border-top:1px solid #CCC;
    color:#666;
}
#thumbs .thumb 
{
    border:1px solid #CCC;
    border-top:1px solid #FFF;
    padding:4px 8px;
    background:#FFF;
    
}
#thumbs .thumb-on 
{
    background:#FFF;
}

#thumbs img{border:1px solid #DDD; cursor:pointer; width:70px; height:44px;}

#thumbs .frame {float:left;padding:2px;border:1px solid #CCC;background:white;border-radius:3px;box-shadow:0 0 3px #BBB;font-size:0;line-height:0;}
#thumbs .thumb-content {float:left;width:110px;padding-left:18px;text-align:left}

/* Captions in #thumbs .thumb-content */

#thumbs .thumb-content p {font-weight:bold; color:#BF5D9B; margin:0 0 1px;padding:0;}
#thumbs .thumb-on .thumb-content p {color:#BB0000;}
#thumbs .thumb-content a:visited {font-weight:bold; color:#666; margin:0 0 1px;padding:0;}


#thumbs2 
{
    float:left;
    margin-top:0px;
    margin-left:8px;
    width:230px;
    font:normal 11px/13px Arial;
    border-top:0px solid #CCC;
    color:#666;
}
#thumb2 .thumb 
{
    border:0px solid #CCC;
    border-top:1px solid #FFF;
    padding:4px 8px;
    background:#F3F3F3;
}
#thumb2 .thumb-on 
{
    background:#FFF;
}

#thumb2 img{border:1px solid #DDD; cursor:pointer; width:70px; height:44px;}

#thumb2 .frame {float:left;padding:2px;border:1px solid #CCC;background:white;border-radius:3px;box-shadow:0 0 3px #BBB;font-size:0;line-height:0;}
#thumb2 .thumb-content {float:left;width:110px;padding-left:18px;text-align:left}

/* Captions in #thumbs .thumb-content */
#thumb2 .thumb-content p {font-weight:bold; color:#BF5D9B; margin:0 0 1px;padding:0;}
#thumb2 .thumb-on .thumb-content p {color:#BB0000;}
#thumb2 .thumb-content a:visited {font-weight:bold; color:#666; margin:0 0 1px;padding:0;}

#thumbs3 
{
    float:left;
    margin-top:0px;
    margin-left:0px;
    width:314px;
    font:normal 11px/13px Arial;
    border-top:1px solid #CCC;
    color:#666;
}
#thumbs3 .thumb 
{
    border:1px solid #CCC;
    border-top:1px solid #FFF;
    padding:4px 8px;
    background:#F3F3F3;
}
#thumbs3 .thumb-on 
{
    background:#FFF;
}

#thumbs3 img{border:1px solid #DDD; cursor:pointer; width:70px; height:44px;}

#thumbs3 .frame {float:left;padding:1px;border:1px solid #CCC;background:white;border-radius:3px;box-shadow:0 0 3px #BBB;font-size:0;line-height:0;}
#thumbs3 .thumb-content {float:left;width:200px;padding-left:10px;text-align:left}

/* Captions in #thumbs .thumb-content */
#thumbs3 .thumb-content p {font-weight:bold; color:#BC3131; margin:0 0 1px;padding:0;}
#thumbs3 .thumb-on .thumb-content p {color:#BB0000;}
#thumbs3 .thumb-content a:visited {font-weight:bold; color:#666; margin:0 0 1px;padding:0;}

#thumbs4 
{
    float:left;
    margin-top:0px;
    margin-left:0px;
    width:100%;
    font:normal 11px/13px Arial;
    border-top:1px solid #CCC;
    color:#666;
}
#thumbs4 .thumb 
{
    border:1px solid #CCC;
    border-top:1px solid #FFF;
    padding:4px 8px;
    background:white;
}
#thumbs4 .thumb-on 
{
    background:#FFF;
}

#thumbs4 img{border:1px solid #DDD; cursor:pointer; width:120px; height:144px;}

#thumbs4 .frame {float:left;padding:1px;border:1px solid #CCC;background:white;border-radius:3px;box-shadow:0 0 3px #BBB;font-size:0;line-height:0;}
#thumbs4 .thumb-content {float:left;width:250px;padding-left:10px;text-align:left}

/* Captions in #thumbs .thumb-content */
#thumbs4 .thumb-content p {font-weight:bold; color:#BB0000; margin:0 0 1px;padding:0;}
#thumbs4 .thumb-on .thumb-content p {color:#BB0000;}
#thumbs4 .thumb-content a:visited {font-weight:bold; color:#666; margin:0 0 1px;padding:0;}

