/* CSS Document */

<style type="text/css">
html, body {
height:auto;
}
#blackout {
visibility: hidden;
position: fixed;
left: 0;
top: 0;
width: 690px;
height: auto%;
display: none;
background-color: black;
filter: alpha(opacity=80);
-moz-opacity: .8;
opacity: .8;
z-index: 9;
}
#divpopup{
position: fixed;
top: 39%;
left: 51%;
margin-top: -215px; /*half of the height plus a little to the top*/
margin-left: -410px; /*half of the width */
visibility: hidden;
display: none;
border: 1px solid navy;
background-color: #FAFAD2;
color: #333;
padding: 0;
height: auto;
width:690px;
z-index: 10;
font-family: "Trebuchet MS", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
}
#divpop_head{
position:absolute;
top:0;
left:0;
width:690px;
background-color: #000033;
text-align:center;
padding:2px 0;
z-index:-1;
color:white;
font-weight: bold;
}
#close_pop{
float:right;
text-align:right;
cursor:pointer;
padding-right:10px;
font-weight: bold;
font-size: medium;
}
#close_pop a{
text-decoration:none;
color: orange;
}
#close_pop a:hover{
color:#FF0000;
}
#pop_content{
clear:both;
padding: 10px;
}
</style>


<!--[if IE]>
<style type="text/css">
* {
padding: 0;
margin: 0;
}
html, body {
height: auto;
overflow: auto;
}
#blackout {
position: absolute;
}
#divpopup {
position: absolute;
}
</style>
<![endif]-->