 html {
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;  
  }  
  
  * html body{ overflow:hidden; }
  # html body{ overflow:hidden; }  

fs1 {font-size:40px;}
fs2 {font-size:30px;}
fs3 {font-size:14px;}

.upper_table_css{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		text-decoration:none;
		color:#000000;
	}
	.nodecls
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		text-decoration:none;
		color:#000000;
	}
	.log_css{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}
	.user_css{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}		
	.vehicle_module{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}	
	.select_track_module{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}
	.refresh_module{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}
	.latlng_module{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}
	.speed_symbol_module{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}
	.copyright_module{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-decoration:none;
		color:#000000;
	}
	.manage_uppercontent{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		text-decoration:none;
		color:#000000;
	}
	.manage_rightcontent{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		text-decoration:none;
		color:#000000;
	}