/* CSS Document */
html, .main { padding:0; margin:0; background-color:; } /*EAEAEA;*/ 

/*.topheader a:visited {color:#000033; text-decoration:none; margin-right: 0px; font: bold 12px Tahoma;}
.topheader a {color:#000033; text-decoration:none; margin-right: 0px; font: bold 12px Tahoma;}
.topheader a:hover { color:black; font: bold 12px Tahoma; margin-right: 0px;  }*/

/* search */
.searchform { padding:0px 0px 0 0; float:center; width:auto;}
#formsearch { margin:0; padding:0px 0 0 0;}
#formsearch span { display:block; margin:1px 0; padding:0 0px 0 0px; padding:0 0px 0 0px; float:right; width:168px;  height:24px; background:#fff url(../../images/general/search.gif) no-repeat top left ;}
#formsearch input.editbox_search { margin: 0; padding:0px 0 0px; float:left; width:168px; height:24px; border:none; background:none; font:normal 13px/20px Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:1px 0 0 0; padding:0; border:none; float:right; height:24px;}


/* search 
#formsearch { margin:0; padding:0px 0 0 0;}
#formsearch span { display:block; margin:3; padding:0 8px 0 11px !important; padding:0; float:right; width:170px; background:#fff url(../../images/general/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:8px; float:left; width:170px; height:24px; border:none; background:none; font:normal 13px/16px Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin: 0; padding:0; border:none; float:right;}
*/
/* form */
form { margin:0; padding:0;}
ol { margin:0; padding:0; list-style:none;}
ol li { margin:0; padding:0; display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px;  background:ghostwhite;}
ol li input.textneed { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px;  background:#9fc57c;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:ghostwhite;}
ol li .send { margin:16px 0 0 0;}

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
/* header */

#myBoxA {
    margin: 0.05in auto; 
    padding:0; 
    width: 1014px;
    height:auto;  
      
    text-align: center;
    /*background-color: #A0CFEC;*/ 
    /*background-color: #C1BA64;*/ 
    /* background-color: #B2E1FF; */
     background-color: #fff; 
    border: 1px solid #000033;     }
     /* Mozilla: */
 .gradientH{  
    
    /* Chrome, Safari:   
    background: -webkit-gradient(linear,
                left top, right top, from(#F8E9D2), to(#C1BA64)); 
    
    /* For Mozilla/Gecko (Firefox etc) 
    background: -moz-linear-gradient(left top, #F8E9D2, #C1BA64 70%); 
    /* MSIE 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#F8E9D2', EndColorStr='#C1BA64', GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8E9D2, endColorstr=#C1BA64, GradientType=1)"; */
  }
/*
#myBox p {
  padding:0;
  margin:1ex 0;
} 

.header { background:url(../../images/layout/header_bg10.gif) repeat-x top;} 
.header_resize { margin:0 auto; padding:0; width:1000px;} */

.header .logo { width:auto; float:left;}
.header .menu ul { margin:0px 0 0 0; padding:-4; float:right; width:auto; list-style:none;}
.header .menu ul li { margin:0; float:left;}
/*.header .menu ul li a { margin:0; padding:6px 6px; color:#5f5f5f; text-decoration:none; line-height:27px; }
.header .menu ul li a span { margin:0; padding:8px 0 8px 6px;}  */
.header, .hbg, .content, .fbg, .footer { margin:0; padding:0;}
.hbg_resize, .content_resize, .fbg_resize { margin: 0; padding: 22px 40px;  background-color:#fff; }

/*body { margin:0; padding:0; width:100%;}
.header, .hbg, .content, .fbg, .footer { margin:0; padding:0;}

h1 { margin:0; padding:29px 0; color:navy; font:normal 40px/1.2em Arial, Helvetica, sans-serif;}
h1 a, h1 a:hover { color:navy; text-decoration:none;}
h1 span { color:#007236;}
h1 small { padding-left:38px; font:normal 13px/1.2em Arial, Helvetica, sans-serif;}
h2 { font:bold 24px Arial, Helvetica, sans-serif; color:#323a3f; padding:8px 0; margin:8px 0;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}*/

/* footer */
/*.footer { margin:0; padding:0;}
.footer { background:url(../../images/layout/header_bg_blue.gif) repeat-x top;}
.footer_resize { margin:0 auto; padding:8px 32px;  height:250px;}
ul.fmenu { margin:8px 0; padding:0; list-style:none; float:right; width:auto;}
ul.fmenu li { margin:0; padding:0 8px; float:left;}
ul.fmenu li a { color:#5f5f5f; text-decoration:none;}
ul.fmenu li a:hover, ul.fmenu li.active a { color:#61a203;}
ul.fmenu li a:hover { text-decoration:underline;}*/


