A.stub {
	COLOR: #ba0000; TEXT-DECORATION: none
}
A.new {
	COLOR: #ba0000; TEXT-DECORATION: none
}
#toc {
	BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f9f9f9; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 1px solid; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-TOP: 5px
}
.tocindent {
	MARGIN-LEFT: 2em
}
.tocline {
	MARGIN-BOTTOM: 0px
}
DIV.floatright {
	BORDER-BOTTOM: white 0.8em solid; POSITION: relative; BORDER-LEFT: white 1.4em solid; MARGIN: 0px; FLOAT: right; CLEAR: right; BORDER-TOP: white 0.5em solid; BORDER-RIGHT: white 0px solid
}
DIV.floatright P {
	FONT-STYLE: italic
}
DIV.floatleft {
	BORDER-BOTTOM: white 0.8em solid; POSITION: relative; BORDER-LEFT: white 0px solid; MARGIN: 0.3em 0.5em 0.5em 0px; FLOAT: left; BORDER-TOP: white 0.5em solid; BORDER-RIGHT: white 1.4em solid
}
DIV.floatleft P {
	FONT-STYLE: italic
}
DIV.thumb {
	BORDER-BOTTOM-STYLE: solid; BORDER-BOTTOM-COLOR: white; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: white; WIDTH: auto; BORDER-TOP-STYLE: solid; MARGIN-BOTTOM: 0.5em; BORDER-RIGHT-COLOR: white; BORDER-LEFT-STYLE: solid; OVERFLOW: hidden; BORDER-LEFT-COLOR: white
}
DIV.thumb DIV {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 3px !important; BACKGROUND-COLOR: #f9f9f9; PADDING-LEFT: 3px !important; PADDING-RIGHT: 3px !important; FONT-SIZE: 94%; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 3px !important
}
DIV.thumb DIV A IMG {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
DIV.thumb DIV DIV.thumbcaption {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0.1em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0.3em
}
DIV.magnify {
	DISPLAY: none
}
DIV.tright {
	BORDER-RIGHT-WIDTH: 0px; FLOAT: right; BORDER-TOP-WIDTH: 0.5em; BORDER-BOTTOM-WIDTH: 0.8em; CLEAR: right; BORDER-LEFT-WIDTH: 1.4em
}
DIV.tleft {
	BORDER-RIGHT-WIDTH: 1.4em; FLOAT: left; BORDER-TOP-WIDTH: 0.5em; BORDER-BOTTOM-WIDTH: 0.8em; BORDER-LEFT-WIDTH: 0px; MARGIN-RIGHT: 0.5em
}
IMG.thumbborder {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid
}
TABLE.rimage {
	POSITION: relative; TEXT-ALIGN: center; WIDTH: 1pt; MARGIN-BOTTOM: 1em; FLOAT: right; MARGIN-LEFT: 1em
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: white; COLOR: black; PADDING-TOP: 0px
}
.noprint {
	DISPLAY: none
}
DIV#jump-to-nav {
	DISPLAY: none
}
DIV.top {
	DISPLAY: none
}
DIV#column-one {
	DISPLAY: none
}
#colophon {
	DISPLAY: none
}
.editsection {
	DISPLAY: none
}
.toctoggle {
	DISPLAY: none
}
.tochidden {
	DISPLAY: none
}
DIV#f-poweredbyico {
	DISPLAY: none
}
DIV#f-copyrightico {
	DISPLAY: none
}
LI#viewcount {
	DISPLAY: none
}
LI#about {
	DISPLAY: none
}
LI#disclaimer {
	DISPLAY: none
}
LI#privacy {
	DISPLAY: none
}
UL {
	LIST-STYLE-TYPE: square
}
#content {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px !important
}
#footer {
	BACKGROUND: white; COLOR: black; BORDER-TOP: black 1px solid
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H6 {
	FONT-WEIGHT: bold
}
P {
	LINE-HEIGHT: 1.2em; MARGIN: 1em 0px
}
.documentDescription {
	LINE-HEIGHT: 1.2em; MARGIN: 1em 0px
}
.tocindent P {
	MARGIN: 0px
}
PRE {
	BORDER-BOTTOM: black 1pt dashed; BORDER-LEFT: black 1pt dashed; PADDING-BOTTOM: 1em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: pre; BACKGROUND: white; COLOR: black; FONT-SIZE: 8pt; OVERFLOW: auto; BORDER-TOP: black 1pt dashed; BORDER-RIGHT: black 1pt dashed; PADDING-TOP: 1em
}
TABLE.listing {
	BORDER-BOTTOM: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-COLLAPSE: collapse; BORDER-TOP: black 1pt solid; BORDER-RIGHT: black 1pt solid
}
TABLE.listing TD {
	BORDER-BOTTOM: black 1pt solid; BORDER-LEFT: black 1pt solid; BORDER-COLLAPSE: collapse; BORDER-TOP: black 1pt solid; BORDER-RIGHT: black 1pt solid
}
A {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: black !important; PADDING-TOP: 0px !important
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #520; TEXT-DECORATION: underline
}
A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #520; TEXT-DECORATION: underline
}
#content A.text.external:after {
	CONTENT: " (" attr(href) ") "
}
#content A.autonumber.external:after {
	CONTENT: " (" attr(href) ") "
}
#globalWrapper {
	MIN-WIDTH: 0px !important; WIDTH: 100% !important
}
#content {
	BACKGROUND: white; COLOR: black
}
#column-content {
	MARGIN: 0px
}
#column-content #content {
	PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; PADDING-TOP: 1em
}
A {
	COLOR: black !important; TEXT-DECORATION: none !important
}
A.external {
	COLOR: black !important; TEXT-DECORATION: none !important
}
A.new {
	COLOR: black !important; TEXT-DECORATION: none !important
}
A.stub {
	COLOR: black !important; TEXT-DECORATION: none !important
}
A {
	COLOR: inherit !important; TEXT-DECORATION: inherit !important
}
A.external {
	COLOR: inherit !important; TEXT-DECORATION: inherit !important
}
A.new {
	COLOR: inherit !important; TEXT-DECORATION: inherit !important
}
A.stub {
	COLOR: inherit !important; TEXT-DECORATION: inherit !important
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
IMG.tex {
	VERTICAL-ALIGN: middle
}
SPAN.texhtml {
	FONT-FAMILY: serif
}
DIV.townBox {
	BORDER-BOTTOM: gray 1px solid; POSITION: relative; BORDER-LEFT: gray 1px solid; PADDING-BOTTOM: 0.3em; PADDING-LEFT: 0.3em; WIDTH: 200px; PADDING-RIGHT: 0.3em; BACKGROUND: white; FLOAT: right; MARGIN-LEFT: 1em; CLEAR: right; OVERFLOW: hidden; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; PADDING-TOP: 0.3em
}
DIV.townBox DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.3em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 96%; PADDING-TOP: 0px
}
DIV.townBox DL DT {
	MARGIN: 0.4em 0px 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV.townBox DL DD {
	BACKGROUND-COLOR: #f3f3f3; MARGIN: 0.1em 0px 0px 1.1em
}
#siteNotice {
	DISPLAY: none
}
TABLE.gallery {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px
}
TABLE.gallery TR {
	VERTICAL-ALIGN: top
}
DIV.gallerybox {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND-COLOR: #f9f9f9; MARGIN: 2px; WIDTH: 150px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
DIV.gallerybox DIV.thumb {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; MARGIN: 2px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
DIV.gallerytext {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-SIZE: 94%; PADDING-TOP: 2px
}
TABLE.diff {
	BACKGROUND: white
}
TD.diff-otitle {
	BACKGROUND: #ffffff
}
TD.diff-ntitle {
	BACKGROUND: #ffffff
}
TD.diff-addedline {
	BORDER-BOTTOM: black 2px solid; BORDER-LEFT: black 2px solid; BACKGROUND: #ccffcc; FONT-SIZE: smaller; BORDER-TOP: black 2px solid; BORDER-RIGHT: black 2px solid
}
TD.diff-deletedline {
	BORDER-BOTTOM: black 2px dotted; BORDER-LEFT: black 2px dotted; BACKGROUND: #ffffaa; FONT-SIZE: smaller; BORDER-TOP: black 2px dotted; BORDER-RIGHT: black 2px dotted
}
TD.diff-context {
	BACKGROUND: #eeeeee; FONT-SIZE: smaller
}
.diffchange {
	COLOR: silver; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
