BODY
{font-family: arial, verdana, tahoma, sans-serif;
font-size: 8pt;
margin: 0px;
margin-left: 3px;
margin-right: 3px;
padding: 0px;}

.body_part
{
  background-color:white;
}
.error_message
{
  	font-size: 8pt;
	margin: 0px;
	padding: 0px;
	color:red;
	font-weight: bold;
}
#vehicleloadmessage {
    //background: none repeat scroll 0 0 #000000;
    //height: 48px;
    left: 0;
   // opacity: 0.6;
    //position: absolute;
    top: 0;
    width: 248px;
	top: 12%;
	left: 5px;
    z-index: 99999;
}
.back_css
{
	font-size: 11pt;
	text-decoration: none;
	color:green;
}
.moto_exceptions
{
font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: bold;
color:black;
text-align:center;
background-color:#D8D8D8;
}
.moto_trip_performance
{
font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: bold;
color:black;
text-align:center;
background-color:#F3F9FE;
}



.moto_headings
{
font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: bold;
color:white;
text-align:center;
background-color:#356094;
}



table.mystyle 
{      
border-spacing: 0;
width:100%;
height:100%;     
border-collapse:collapse;
}  
 td.mystyle
{     
border:1px solid #000000;
}

div.set_height
{
	height: 5px;
}

div.upper_height
{
	height: 15px;
}

td.welcome
{background-color:white;
font-size: 11pt;
text-decoration: none;
color: gray;
font-weight: bold}

td.srl
{
  vertical-align: text-top;
  font-weight: bold;
  width:100px;
  text-align:right;
}

td.srr
{
  vertical-align: text-top;
  text-align:left;
}

td.srb
{
  vertical-align: text-top;
  text-align:justify;
}

td.vt
{
  vertical-align: text-top;
  font-weight: bold;
  text-align:right;
}

td.vc
{
  vertical-align: text-center;
  font-weight: bold;
  text-align:right;
}

P
{padding-top: 10px;
margin: 0px;}

H1
{
  font-weight: normal;
  padding-top: 15px;
  margin: 0;
}

table.navbar
{font-size: 8pt;
margin: 0px;
padding: 0px; 
border: 0px; 
font-weight: normal;}

td.text
{color: black;
font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: normal;
}
th.text
{color: black;
font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: normal;
}

td.text1
{color: gray;
font-size: 10pt;
margin: 0px;
padding: 0px;
font-weight: normal;
}

table.menu
{font-size: 8pt;
margin: 0px;
padding: 0px;
font-weight: normal;}

td.menuNormal
{padding: 0px;
color: black;
font-weight: normal;
vertical-align: middle;
//background-color: #f0f7ff;}

td.menuHover
{padding: 0px;
color: black;
font-weight: normal;
vertical-align: middle;
/*remove the following line for drop-down menu with images*/
background-color: lightgrey;}

div.menuNormal
{display: none;
position: static;}

div.menuHover
{border: 1px solid black;
background-color: #EEEDF2;
display: inline;
position: absolute;}

a.menuitem:link
{
text-decoration: none;
color: black;
//background-color: #f3f7fb;

}

a.menuitem:visited
{text-decoration: none;
color: black;
//background-color: #f3f7fb;
}

a.menuitem:hover
{text-decoration: none;
color: red;
background-color: #c3c3c3;
}

a.menuitem:active
{text-decoration: none;
color: red;
background-color: lightgrey;
}

a.menuitem2:link
{font-size: 10pt;
text-decoration: none;
font-weight: normal;
color: black;
display: block;}

a.menuitem2:visited
{font-size: 10pt;
text-decoration: none;
color: black;
background-color: lighyblue;
display: inline;}

a.menuitem2:hover
{font-size: 10pt;
text-decoration: none;
background-color: lightgrey;
color: red;
display: inline}

a.menuitem2:active
{font-size: 10pt;
text-decoration: none;
background-color: lightgrey;
color: red;
display: inline} 

a.map_text_bt:link,a.map_text_bt:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
width:80px;
text-align:center;
padding:4px;
text-decoration:none;
}
a.map_text_bt:hover,a.map_text_bt:active
{
background-color:#7A991A;
}

.frame_header_table
{
  font-size:12px;
  font-family:Arial;
}

.hs1
{
  color:black;
  text-decoration:none;
}

.hs2
{
  color:blue;
  text-decoration:none;
}

.hs3
{
  color:#444444;
  text-decoration:none;
  font-size:13px;
  font-style:strong;
}

.module_left_menu
{
  font-size:12px;
  font-family:Arial;
}

.module_tree_hierarchy
{
  font-size:12px;
  font-family:Arial;
  border:1px light grey;
  width:100%;
  text-decoration:none;
}

.module_logo
{
  font-size:9pt;
  font-family:Arial;
  color:#FF832B;
}

.module_copyright
{
  font-size:7pt;
  font-family:Arial;
}

.manage_account_interface
{
  font-size:12px;
  font-family:Arial;
}

.report_fieldset
{
  font-size:12px;
  font-family:Arial; 
  width: 50%;  
}

.manage_fieldset
{
  /*font-size:12px;*/
  font-family:Arial; 
  width: 50%;  
}

.manage_fieldset1
{
  font-size:12px;
  font-family:Arial; 
  width: 100%;  
}
.manage_fieldset_new
{
  font-size:12px;
  font-family:Arial; 
  //width: 50%;  
}

.manage_fieldset2
{
  font-size:12px;
  font-family:Arial; 
  width: 90%;  
}

.manage_fieldset3
{
  font-size:12px;
  font-family:Arial; 
  width: 28%;  
}
.manage_cal_vehicle
{
  font-size:12px;
  font-family:Arial;   
}
.manage_account_fieldset
{
  font-size:11px;
  font-family:Arial; 
  //width: 40%;  
}
.assignment_manage_fieldset
{
  font-size:11px;
  font-family:Arial;
}
.report_title
{
	font-size:11px;
	font-family:Arial;
}
.report_div_height
{
	height:5px;
}
.manage_fieldset_test
{
  font-size:12px;
  font-family:Arial; 
  width: 100%;
  text-align:center;    
}

.report_text
{
  font-size:12px;
  font-family:Arial;    
}

.report_heading
{
  color: black;
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.manage_menu
{
  font-size:11px;
  font-family:Arial;
  width:100%; 
}

tr.mb1
{
  height:7%;  
}
 
tr.mb2
{
  height:88%;  
}

tr.mb3
{
  height:5%;  
}

td.module_select_track1
{
  width:28%;  
}
 
td.module_select_track2
{
  width:3%;  
}
table.module_index
{
  font-size:12px;
  font-family:Arial;
  background-color:#c3c3c3;
  width:27%;
}
.main_page
{
font-size:11px;
  font-family:Arial;
  color:#000000;
 //font-weight:bold
  

}

.selection_information
{
font-size:11px;
  font-family:Arial;
  color:#5B5B5B;
 //font-weight:bold
  

}
td.module_index1
{
  font-size:12px;
  font-family:Arial; 
  width:20%;  
}
td.module_index2
{
  font-size:12px;
  font-family:Arial; 
  width:22%;
} 
td.module_index3
{
  font-size:12px;
  font-family:Arial; 
  width:3%;  
}
.module_index_copyright
{
  font-size:11px;
  font-family:Arial;
}

.module_map
{
  width:100%; 
  height:100%;
  display:none;
}

.module_text
{
  width:100%; 
  height:100%;
}


@media print  
{
 .noprint  { display: none; } 
}
@media screen 
{ 
.noscreen { display: none; } 
}


# DATALOG STYLE

		div.scrollTableContainer 
		{
			height: 495px;
			overflow: auto;
			width: 1016px;
		
			position: relative;
		}

			/* The different widths below are due to the way the scroll bar is implamented */

			/* All browsers (but especially IE) -18*/
		div.scrollTableContainer table 
		{
		width: 1000px;
		overflow: auto;
		height: 440px;
		overflow-x: hidden;
		}

			/* Modern browsers (but especially firefox ) */
		div.scrollTableContainer table
		{
		width: 1016px;
		overflow: auto;
		height: 438px;
		overflow-x: hidden;
		
		}

			/* Modern browsers (but especially firefox ) */
		div.scrollTableContainer table>tbody 
		{		
		height: 472px;
		width: 1040px;
		overflow-x: hidden;
		}

		div.scrollTableContainer thead tr 
		{
		position:relative;
		top: expression(offsetParent.scrollTop); /*IE5+ only*/
		/* fixes the header being over too far in IE, doesn�t seem to affect FF */
		left: 0px;
	
		}


			/* Modern browsers (but especially firefox ) */
		div.scrollTableContainer table>tfoot 
		{
		overflow: auto;
		overflow-x: hidden;
		}

		div.scrollTableContainer tfoot tr
		{
		position:relative;
		top: expression(offsetParent.scrollTop); /*IE5+ only*/
		/* fixes the header being over too far in IE, doesn�t seem to affect FF */
		left: 0px;
		}

			/*prevent Mozilla scrollbar from hiding cell content*/
		div.scrollTableContainer td:last-child 
		{			
			padding-right: 20px;
		}
# DATALOG STYLE CLOSED

.report_header
{
 font-size:25pt; 

}


# DATA GAP CSS
			
.normal1 { background-color: #F8F8FF }
.highlight1 { background-color:  #C6DEFF }
.normal2 { background-color: #FFFDF9 }
.highlight2 { background-color:  #C6DEFF }
.print_datagap_t1 { background-color:#000000;border:thin; }
.print_datagap_t2{ background-color:#FFFFFF;border-style:solid;border-color:#A5A5A5;border-spacing:10px;padding:10px;border-width:20px;border-collapse:collapse;border-style:solid;}
			
.floating-div 
{
position: fixed; 
height:200px; 
width: 900px; 
background-color:#90EE90; 
bottom:  2px;
}

.textname
{
  color: black;
  font-size: 8pt;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.textvalue
{
  color: red;
  font-size: 9pt;
  margin: 0px;
  padding: 0px;
}

.vText1 
{
   font-size: 8pt;
   -moz-transform: rotate(-90deg) translate(35, 922%);
   -moz-transform-origin: 0% 100%;
   -o-transform: rotate(-90deg) translate(35, 922%);
   -o-transform-origin: 0% 100%;
   -webkit-transform: rotate(-90deg) translate(35, 922%);
   -webkit-transform-origin: 0% 100%;
   transform: rotate(-90deg) translate(35, 922%);
   transform-origin: 0% 100%;
}

.vText2 
{
   font-size: 8pt;
   -moz-transform: rotate(-90deg) translate(35, -30%);
   -moz-transform-origin: 0% 100%;
   -o-transform: rotate(-90deg) translate(35, -30%);
   -o-transform-origin: 0% 100%;
   -webkit-transform: rotate(-90deg) translate(35, -30%);
   -webkit-transform-origin: 0% 100%;
   transform: rotate(-90deg) translate(35, -30%);
   transform-origin: 0% 100%;
}

#blanket {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 9001; /*ooveeerrrr nine thoussaaaannnd*/
   top:0px;
   left:0px;
   width:100%;
}
#popUpDiv {
	position:absolute;
	background-color:#eeeeee;
	width:300px;
	height:300px;
	z-index: 9002; /*ooveeerrrr nine thoussaaaannnd*/
}

#highlight tr.hilight { background: #c9f; } 

#live_menu {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 200px;
  width: 150px;
  height: 100px;
  background-color: cyan;
  border: 1px solid black;
}

.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 210px;
  padding: 16px;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}